  <% if current_user%>
    <div class="post-btn"><%= link_to "New Post", new_article_path %></div>
  <%end%>
  
<div class= row>
  <% @articles.each do |article|%>
  <div class="arti-date">
    <div class = 'date'> <%=article.created_at.strftime ('%B, %d, %Y')%> </div>
  </div>
   

    <div class="arti-frame ">
      <div class="arti-title">
        <div class = 'title'> 
          <p>
            <%= link_to article.title, article %>
          </p> 
        </div>
      </div>
        
      <div class="arti-content">
        <div class="arti-content-body">
          <%= markdown(article.body) %>
        </div>
      </div>
        
      <div class= arti-pic>
        <% if article.title?%>
        <p>pic here</p>
        <%end%>
      </div>
    </div> 
    <div class='arti-read btn'> 
    <p>read </p></div>
    <%end%>
    
</div>
