<ul class="nav justify-content-center main-nav">
  <li class="nav-item">
    <a class="nav-link active" href="http://localhost:3000">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/inorgpod" target="_blank"><img src="./icon/icons8-octocat.svg" alt=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://localhost:3000/articles">BLOG</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>