@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@800&family=Rubik+Mono+One&display=swap");

.row {
  // justify-content: space-between;
  // align-items: center;
  .post-btn {
    z-index: 999;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
  }
  .arti-date {
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    border: solid #333 1rem;
    border-style: dashed;
    padding: 2rem;

    .date {
      font-size: 2rem;
      font-weight: 800;
      font-family: "Baloo Thambi 2", cursive;
      text-align: center;
    }
  }

  .arti-frame {
    min-width: 120rem;
    height: 45rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 10rem;

    // box-shadow: 1.5rem 1.5rem #333;

    .arti-title {
      border: solid #333 1rem;
      border-right: none;
      background: rgb(252, 70, 70);
      background: radial-gradient(
        circle,
        rgba(252, 70, 70, 1) 0%,
        rgba(206, 255, 254, 1) 100%
      );
      grid-area: 1 / 1 / 2 / 5;
      .title {
        margin-top: 2rem;

        p {
          font-weight: 800;
          font-family: "Baloo Thambi 2", cursive;
          font-size: 5rem;
          text-align: center;
          a {
            color: #333;
          }
          :hover {
            text-decoration: none;
          }
        }
      }
    }

    .arti-content {
      grid-area: 2 / 1 / 9 / 6;
      background: rgb(255, 250, 5);
      background: radial-gradient(
        circle,
        rgba(255, 250, 5, 1) 0%,
        rgba(0, 255, 250, 1) 100%
      );
      border: solid #333 1rem;
      border-right: none;
      border-top: none;
      overflow: hidden;
      padding: 4rem;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-align: start;
      }
      .arti-content-body {
        font-family: "Baloo Thambi 2", cursive;

        img {
          max-width: 51rem;
        }
      }
      .arti-read {
        z-index: 999;
        background-color: red;
        border: solid #333 1rem;
        p {
          font-size: 5rem;
          font-weight: 800;
          font-family: "Baloo Thambi 2", cursive;
          text-align: center;
        }
      }
    }

    .arti-pic {
      overflow: hidden;
      border: solid #333 1rem;
      
      grid-area: 1 / 5 / 9 / 9;
      background: rgb(63, 251, 72);
      background: radial-gradient(
        circle,
        rgba(63, 251, 72, 1) 0%,
        rgba(255, 206, 206, 1) 71%
      );
      img {
        width: 100%;
      }
    }

    .arti-foot {
      border: solid #333 1rem;
      border-top: solid #333 0rem;
      grid-area: 9/ 1 / 12 / 10;
      background: rgb(63, 251, 72);
 justify-content: space-between;
      display: flex;
      .arti-read {
        padding: 2rem;
        padding-left: 4rem;
       
        // margin: auto;
        .read-bt {
          font-weight: 800;
          font-family: "Baloo Thambi 2", cursive;
          background-color: #fff;
          border: solid #333 .5rem;
          font-size: 2rem;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      .arti-tag {
        padding: 2rem;
        padding-left: 4rem;
       
        // margin: auto;
        .tag-tag {
          font-weight: 800;
          font-family: "Baloo Thambi 2", cursive;
          background-color: #fff;
          border: solid #333 .5rem;
          font-size: 2rem;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
