$darkgrey: rgb(50, 50, 50);
$mainwhite: rgb(230, 230, 230);
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@800&family=Rubik+Mono+One&display=swap");
.container {
  margin-top: 20rem;

  .hello {
    color: rgb(83, 63, 251);
    background: -webkit-radial-gradient(#533ffb, #fc4646);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 20rem;

    vertical-align: middle;
    font-weight: 900;
    font-family: "Rubik Mono One", sans-serif;
  }
}

#body {
  background: rgb(234, 234, 234);
  justify-content: center;
  align-items: center;
  // cursor: url("http://localhost:3000/ok.ico"), auto;
  
  a:hover{
    // cursor: url("http://localhost:3000/ok.ico"),auto;
    // cursor: ;
    text-decoration: none;
    }

  .arti-date {
    background-color: #dedede;
    // background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    border: solid #333 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 26rem;
    box-shadow: 1rem 1rem;
    .date {
      font-size: 2rem;
      font-weight: 800;
      font-family: "Baloo Thambi 2", cursive;
      text-align: center;
    }
  }
}

.arti-body {
  background: rgb(234, 234, 234);
  border: solid 1rem $darkgrey;
  margin-bottom: 3rem;
  box-shadow: 1rem 1rem;
  .title {
    font-weight: 800;
    font-family: "Baloo Thambi 2", cursive;

    background-color: #fc4646;
    border-bottom: solid 1rem $darkgrey;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;

    h3 {
      font-size: 8rem;
    }
  }

  .arti-markdown {
    justify-content: center;
    align-items: flex-start;
    margin: 5rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: start;
    }
    p {
      img {
        display: block;
        width: 45rem;
      }
    }
  }
  .arti-tag {
    border-top: solid 1rem $darkgrey;
    height: 8rem;
    padding: 2rem;
    // padding-left: 4rem;
    .tag-tag {
      font-weight: 800;
      font-family: "Baloo Thambi 2", cursive;
      background-color: #fff;
      border: solid #333 0.5rem;
      font-size: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 1rem;
    }
  }
}
